.logo {
    margin-left: 45%;   
    margin-right: 45%;
    padding: auto;
    display: block;
}

.officals {
    margin: auto;
    padding: auto;
    display: flexbox;
    flex-direction: row;
}

.parent {
    overflow: none;
    overflow: none;
}

.order{
    width: 20%;
    
    
}

p {
    color: white
}